.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stars-canvas {
  position: fixed; /* Fix the canvas to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  z-index: -1; /* Ensure it stays behind other content */
  pointer-events: none; /* Ensure the canvas doesn't block interactions with the UI */
}

/* Ensure the foreground components are displayed over the background */
.foreground {
  position: relative;
  z-index: 1; /* Ensure this is above the background */
}
.header-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
}
.header-container .absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Background position */
}

.header-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10; /* Behind the Header content */
}

.footer-avatar-container {
  width: 220px;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-avatar-img {
  width: 100%;
  z-index: 2;
}

.footer-avatar-face {
  position: absolute;
  width: 100%;
  height: 97%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding-left: 5px;
}

.footer-avatar-eye {
  width: 50px;
  height: 50px;
  background-color: #dfd2d2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-pupil {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  border: 5px solid #413333;
  filter: blur(.6px);
}

.footer-right-eye {
  box-shadow: 15px 15px 5px rgba(0, 0, 0, .233) inset, 10px 10px 5px rgba(41, 33, 33, .644) inset;
  position: relative;
}

.footer-left-eye {
  box-shadow: -10px -15px 5px rgba(0, 0, 0, .349) inset;
  position: relative;
}

.avatar-container {
  position: fixed;
  top: 80px; /* Adjust based on your Navbar height */
  left: 20px;
  z-index: 10;
}

/* Media queries for dynamic resizing */
@media (max-width: 1024px) {
  .footer-avatar-container {
    width: 180px; /* Smaller for tablets */
  }

  .footer-avatar-eye {
    width: 40px;
    height: 40px;
  }

  .footer-pupil {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 768px) {
  .footer-avatar-container {
    width: 150px; /* Smaller for smaller tablets */
  }

  .footer-avatar-eye {
    width: 35px;
    height: 35px;
  }

  .footer-pupil {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 450px) {
  .footer-avatar-container {
    width: 100px; /* Smaller for mobile */
  }

  .footer-avatar-eye {
    width: 25px;
    height: 25px;
  }

  .footer-pupil {
    width: 8px;
    height: 8px;
  }
}


.solar-header-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
}

.solar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the background stays behind the header */
}

.solar-background canvas {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
