.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stars-canvas {
  position: fixed; /* Fix the canvas to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  z-index: -1; /* Ensure it stays behind other content */
  pointer-events: none; /* Ensure the canvas doesn't block interactions with the UI */
}

/* Ensure the foreground components are displayed over the background */
.foreground {
  position: relative;
  z-index: 1; /* Ensure this is above the background */
}
.header-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
}
.header-container .absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* Background position */
}

.header-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10; /* Behind the Header content */
}

